[build]
  base = "frontend"
  command = "yarn build"
  publish = "build"
  functions = "../netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
